[package]
name = "esp8266-hal"
version = "0.3.2"
authors = ["Robin Appelman <robin@icewind.nl>"]
edition = "2018"
license = "MIT OR Apache-2.0"
description = "An experimental hardware abstraction layer for the esp8266"
repository = "https://github.com/esp-rs/esp8266-hal"
readme = "README.md"

[dependencies]
embedded-hal = { version = "0.2.4", features = ["unproven"] }
esp8266 = "0.1.4"
nb = "0.1.3"
void = { version = "1.0.2", default-features = false }
xtensa-lx-rt = { version = "0.5.0", optional = true, features = ["lx106"] }
xtensa-lx = "0.3.0"
paste = { version = "1.0", optional = true }

[features]
default = ["rt", "interrupt"]
rt = ["xtensa-lx-rt"]
# Place program completely in RAM (needed when e.g. using only ROM bootloader, or for debugging).
all_in_ram = []
interrupt = ["paste"]

[profile.dev]
lto = true
incremental = false
debug = false # debug adds frame pointers - which must be omitted
codegen-units = 1

[profile.release]
lto = true
incremental = false
debug = false # debug adds frame pointers - which must be omitted
codegen-units = 1
